.employee_content{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}

.employee-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    width: calc(33.333% - 32px); /* Три картки в рядок */
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    min-height: 320px;
    justify-content: center;
    font-weight: 600;
}

.employee-card h3 {
    font-size: 2em;
    margin: 0;
    color: #333;
}
.employee-card img{
    height: 300px;
    width: auto;
    margin-right: 10px;
}

.employee-content a, a:visited, a:focus, a:active, a:link {
    outline: none; /* Убирает контур при фокусе */
    text-decoration: none; /* Убирает подчеркивание при наведении */
    color: inherit; /* Устанавливает цвет, который унаследован от родителя */
}

.employee-card a{
    color: var(--orange-leather);
}

.employee-card a:hover{
    color: var(--footer-a-color-hover);
}

@media (max-width: 1199px) and (min-width: 768px)  {
    .employee-card {
        width: calc(50% - 32px); /* Три картки в рядок */
    }
}

@media (max-width: 767px) { 
    .employee-card {
        width: calc(100% - 32px); /* Три картки в рядок */
        font-weight: 400;
    }
}