* {

    --dark-grafit-color: #1b1b1b;
    --dark-grey-color: #555151;
    --light-grey-color: #9f9689;
    --brown-color: #623f2b;
    --orange-leather: #b76e2d;
    --light-color: #fff1e2;


    --main-bg-color: var(--dark-grey-color);
    --nav-bg-color: var(--orange-leather);
    --nav-color: #123;
    --nav-bgcolor-hover: var(--brown-color);
    --nav-a-color: var(--light-color);
    --nav-a-color-hover: var(--light-color);

    --wrapper-bg-color: #bdbdbd;


    --footer-bg-color: var(--dark-grafit-color);
    --footer-text-color: white;
    
    --footer-a-color: cornsilk;
    --footer-a-color-hover: darkred;

    transition: background-color 0.3s ease, color 0.3s ease;
}

html {
    scrollbar-width: thin;
    scrollbar-color: var(--brown-color) var(--dark-grafit-color) ;
}

/* Стилі для всього тіла */
body {
    margin: 0;
    padding: 0;
    background-color: var(--main-bg-color); /* Доданий фоновий колір */
    color: #333; /* Контрастний колір тексту */
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}
/* Стилі для меню */
.navigation {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: var(--nav-bg-color);
    font-size: 23px;
}

/* Список меню */
.nav_menu {
    display: flex; /* Для великих екранів меню розміщується в ряд */
    gap: 15px;
    flex-wrap: wrap; /* Забезпечує гнучкість елементів на малих екранах */
}

/* Визначаємо стилі для активного меню */
.nav_menu.active {
    display: block; /* Перетворює меню на блочний елемент */
    position: absolute; /* Розміщує меню поверх іншого контенту */
    top: 60px; /* Відстань від верхнього краю (можна відкоригувати) */
    left: 0;
    width: 100%; /* Меню займає всю ширину */
    background-color: var(--nav-bg-color); /* Фон меню */
    z-index: 100; /* Меню з'являється поверх інших елементів */
}

/* Посилання меню */
.nav_menu a {
    padding: 10px 15px;
    text-transform: uppercase;
    color: var(--nav-a-color);
    font-size: .99em;
    border-radius: 10px;
    font-weight: 600;
}

/* Стиль при наведенні */
.nav_menu a:hover {
    background-color: var(--nav-bgcolor-hover);
    color: var(--nav-a-color-hover);
}

.menu-toggle {
    display: none; /* Скрыто на больших экранах */
    background-color: transparent; /* Прозрачный фон */
    border: none; /* Без границ */
    font-size: 2em; /* Размер шрифта для кнопки */
    cursor: pointer; /* Указатель при наведении */
    color: var(--light-color); /* Цвет кнопки */
}

.wrapper{
    min-height: fit-content;
    width: 95%;
    margin: auto;
    background-color: var(--wrapper-bg-color);
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 25px;
    padding-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Добавляем тень */
    overflow: hidden; /* Скрываем переполнение */
    transition: transform 0.3s ease; /* Добавляем плавный переход */
    display: flex; /* Используем flexbox для выравнивания блоков */
    flex-wrap: wrap; /* Переносим блоки на новую строку при необходимости */
    justify-content: space-between; /* Равномерно распределяем блоки */
}

.wrapper-title {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em;
    color: var(--dark-grey-color);
}

.filter{
    margin-left: 5%;
}

footer{
    background-color: var(--footer-bg-color);
    color: var(--footer-text-color);
    margin: 0;
    min-height: 200px;
    width: 100%;
    padding-top: 100px;
    text-align: center;
}


.main_screen_info {
    width: calc(50% - 40px); /* Устанавливаем ширину с учетом отступов */
    margin: 20px; /* Добавляем отступы */
    background-color: var(--light-color);
    padding: 20px; /* Увеличиваем внутренние отступы */
    border-radius: 15px; /* Уменьшаем радиус скругления */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Добавляем тень */
    transition: transform 0.3s ease; /* Добавляем плавный переход */
    box-sizing: border-box; /* Включаем отступы и границы в ширину */
}

.main_screen_info:hover {
    transform: scale(1.02); /* Увеличиваем размер при наведении */
}

.main_screen_info h1, .main_screen_info h3 {
    text-align: center; /* Центрируем заголовки */
}

.main_screen_info p, .main_screen_info ul {
    font-size: 1.2em; /* Увеличиваем размер шрифта */
    color: var(--dark-grey-color); /* Устанавливаем цвет текста */
    line-height: 1.6; /* Увеличиваем межстрочный интервал */
}

.main_screen_info ul {
    padding-left: 20px; /* Добавляем отступ слева для списка */
}

.main_screen_info ul li {
    margin-bottom: 10px; /* Добавляем отступы между элементами списка */
}

footer a{
    color: var(--footer-a-color);
}
footer a:hover{
    color: var(--footer-a-color-hover);
    
}

@media (max-width: 767px) {
    .menu-toggle {
        display: block; /* Показує кнопку меню на маленьких екранах */
        padding-right: 20px;
    }

    .nav_menu {
        display: none; /* За замовчуванням приховує меню на маленьких екранах */
        flex-direction: column; /* Розміщує елементи меню вертикально */
        gap: 10px; /* Відстань між елементами меню */
    }

    .nav_menu.active {
        display: block; /* Показує меню, коли воно активне */
    }
    .main_screen_info {
        width: calc(100% - 40px); /* Устанавливаем ширину с учетом отступов */
        
    }
}


@media(hover: hover){
    
    .main-nav a:hover {
        color: #718daa;
    }
    
    
}

@media(hover: none){
    .main-nav a:active {
        color: #718daa;
    }
    
    
}