* {

    --dark-grafit-color: #1b1b1b;
    --dark-grey-color: #555151;
    --light-grey-color: #9f9689;
    --brown-color: #623f2b;
    --orange-leather: #b76e2d;
    --light-color: #fff1e2;


    --main-bg-color: var(--dark-grey-color);
    --nav-bg-color: var(--orange-leather);
    --nav-color: #123;
    --nav-bgcolor-hover: var(--brown-color);
    --nav-a-color: var(--light-color);
    --nav-a-color-hover: var(--light-color);

    --wrapper-bg-color: #bdbdbd;


    --footer-bg-color: var(--dark-grafit-color);
    --footer-text-color: white;
    
    --footer-a-color: cornsilk;
    --footer-a-color-hover: darkred;

    transition: background-color 0.3s ease, color 0.3s ease;
}

html {
    scrollbar-width: thin;
    scrollbar-color: var(--brown-color) var(--dark-grafit-color) ;
}

/* Стилі для всього тіла */
body {
    margin: 0;
    padding: 0;
    background-color: var(--main-bg-color); /* Доданий фоновий колір */
    color: #333; /* Контрастний колір тексту */
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}
/* Стилі для меню */
.navigation {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: var(--nav-bg-color);
    font-size: 23px;
}

/* Список меню */
.nav_menu {
    display: flex; /* Для великих екранів меню розміщується в ряд */
    gap: 15px;
    flex-wrap: wrap; /* Забезпечує гнучкість елементів на малих екранах */
}

/* Визначаємо стилі для активного меню */
.nav_menu.active {
    display: block; /* Перетворює меню на блочний елемент */
    position: absolute; /* Розміщує меню поверх іншого контенту */
    top: 60px; /* Відстань від верхнього краю (можна відкоригувати) */
    left: 0;
    width: 100%; /* Меню займає всю ширину */
    background-color: var(--nav-bg-color); /* Фон меню */
    z-index: 100; /* Меню з'являється поверх інших елементів */
}

/* Посилання меню */
.nav_menu a {
    padding: 10px 15px;
    text-transform: uppercase;
    color: var(--nav-a-color);
    font-size: .99em;
    border-radius: 10px;
    font-weight: 600;
}

/* Стиль при наведенні */
.nav_menu a:hover {
    background-color: var(--nav-bgcolor-hover);
    color: var(--nav-a-color-hover);
}

.menu-toggle {
    display: none; /* Скрыто на больших экранах */
    background-color: transparent; /* Прозрачный фон */
    border: none; /* Без границ */
    font-size: 2em; /* Размер шрифта для кнопки */
    cursor: pointer; /* Указатель при наведении */
    color: #34495e; /* Цвет кнопки */
}

.wrapper{
    min-height: 1000px;
    width: 95%;
    margin: auto;
    background-color: var(--wrapper-bg-color);
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 25px;
}

.filter{
    margin-left: 5%;
}

footer{
    background-color: var(--footer-bg-color);
    color: var(--footer-text-color);
    margin: 0;
    min-height: 200px;
    width: 100%;
    margin-top: 50px;
    padding-top: 100px;
    text-align: center;
}

footer a{
    color: var(--footer-a-color);
}
footer a:hover{
    color: var(--footer-a-color-hover);
    
}

@media (max-width: 767px) {
    .menu-toggle {
        display: block; /* Показує кнопку меню на маленьких екранах */
        padding-right: 20px;
    }

    .nav_menu {
        display: none; /* За замовчуванням приховує меню на маленьких екранах */
        flex-direction: column; /* Розміщує елементи меню вертикально */
        gap: 10px; /* Відстань між елементами меню */
    }

    .nav_menu.active {
        display: block; /* Показує меню, коли воно активне */
    }
}


@media(hover: hover){
    
    .main-nav a:hover {
        color: #718daa;
    }
    
    
}

@media(hover: none){
    .main-nav a:active {
        color: #718daa;
    }
    
    
}